
<h2 style="text-align: center;">All  Record OF  Products </h2>



<div >
<table class = "selecttable">
    <thead>
        <tr>
            <th>PId</th>
            <th>PName</th> 
            <th>PType</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of response">
            
            <td>{{user.PId}}</td>        
            <td>{{user.PName}}</td>
            <td>{{user.PType}}</td>
            <td>  <button (click)="deleteRow(user.PId)" mat-flat-button color="accent">Delete Row</button></td>
        </tr>
    </tbody>
</table>
</div>
<br>

<div style="text-align:center;">
    <button (click)="BackToHome()" mat-flat-button color="accent" [disabled]="isLoading">
        <i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-check': !isLoading}"></i> Back To Home</button>
    
</div>


